
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SuccessView</title>
</head>
<body>
    <div>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <!------ Include the above in your HEAD tag ---------->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <br />
                    <br />
                        <h1 class="label label-success" style="font-size: 35px;">
                            Submitted Successfully!
                        </h1>
                        <br />
                        <br />
                        <br />
                        <div class="error-actions">
                                    <div class="col-lg-6 login-btm login-button">
                                    <button type="back" class="btn btn-outline-success">Back</button>
                                </div>
                        </div>
                   
                </div>
            </div>
        </div>
    </div>
</body>
</html>